image: docker:git

services:
- docker:dind

.docker_login: &docker_login |
  echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

stages:
- test
- build

test-env:
  stage: test
  image: python:3.9-alpine
  script:
  - apk --update --no-cache add python3 python3-dev py-pip build-base libffi-dev postgresql-dev
  - pip install wheel tox
  - tox  

build-main:
  stage: build
  image: python:3.9-alpine
  script:
  - *docker_login
  - docker build -f docker/Dockerfile --pull -t "$CI_REGISTRY_IMAGE:latest" .
  - docker push "$CI_REGISTRY_IMAGE"
  only:
    refs:
    - main

build:
  stage: build
  script:
  - *docker_login
  - docker build -f docker/Dockerfile --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" .
  - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME"
  except:
    refs:
    - main
