version: '3'

services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    image: hub.rnd.alterway.fr/overboard/5gbiller/cloud-pricing-api:latest # Latest stable release
    ports: 
        - 5042:5042
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=pricing
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5042/health"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on: [postgres]
    volumes:
      - ./data:/app/data
    networks:
      - cloud-pricing-api

  postgres:
    image: postgres:13
    user: postgres
    environment:
      - POSTGRES_DB=pricing
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 10s
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    networks:
      - cloud-pricing-api
 
volumes:
  postgres-data:

networks:
  cloud-pricing-api: